.video-react {
  padding-top: 0%;
}

.video-react-controls-enabled {
  padding-top: 0%;
}

.video-react-paused
{
  padding-top: 0%;
}

.video-react-fluid {
  padding-top: 0%;
}

.video-react-user-inactive {
  padding-top: 0%;
}
.video-react-workinghover
{
  padding-top: 0%;
}
