ul {
  background: white;
  font-family: Noto Sans;
  font-size: 14px;
  left: -200px;
  color: #3c065f;
  border-radius: 13px;
  border: 2px solid #530096;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-top: 15px;
}


.publicfigurerequestBoxtext {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1px;
  color: #3c065f;
}

.profilesearch {
  height: 5px;
  left: 120px;
  width: 5px;
}

.searchrow {
  margin-left: 5px;
  position: relative;
  display: flex;
  flex-Direction: row;
  left: -40px;
  align-items: center;
  width: 100%;
}

.personImage {
  margin-bottom: 12px;
  margin-left: 10px;
}

.formcss {
  font-size: 15px;
  font-family: Noto Sans;
  position: relative;
  margin-bottom: 20px;
  height: 70px;
  margin-top: 10px;
  overflow: hidden;
  margin-left: 9px;
}

.formcss input {
  width: 100%;
  height: 100%;
  color: #3c065f;
  padding-top: 10px;
    font-size: 20px;
  border: 1px black ;
  outline: none;
  left: -9px;
  top: -20px;
}

.formcss label {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-repeat: no-repeat;
    margin-bottom: 20px;
}

.formcss label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #3c065f;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name{
  position: absolute;
  bottom: 3px;
  left: 0px;
  transition: all 0.3s ease;
}

.formcss input:focus + .label-name .content-name, .formcss input:valid + .label-name .content-name {
  transform: translateY(-150%);
  color: #3c065f;
}

.formcss input:focus + .label-name::after,
.formcss input:valid + .label-name::after {
  transform: translateX(0%);
}
