
.containter {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.requestnumberrow {
  position: relative;
  margin-top: -27%;
  left: -50px;
  font-size: 100%;
  font-family: noto sans;
  font-weight: bold;
  color: #6201a1;
}


.mediumColumn {
  position: relative;
  height: 160px;
  top: 30%;
left: 0px;
  width: 80px;
}

.textabovecolumn {
  position: relative;
text-align: center;
width: 200%;
right: 50px;
font-size: 11px;
font-family: noto sans;
}



.person1row {
color: #404040;
font-weight: bold;
margin-bottom: -1%;
}

.person2row {
color: #404040;
font-weight: bold;
    margin-top: 1%;
}



.topicrow {
  color: #3c065f;
  font-weight: bold;
  width: 40%;
    display: inline-block;
    margin-bottom: -3%;
}

.requestbuttoniconclicked {
  position: relative;
  width: 50px;
   height: 50px;
margin-left: 40%;
margin-top: 4%;
  display: inline-block;
}

.requestbuttonicontrend {
  position: relative;
width: 50px;
 height: 50px;

}
