.trendingeverythingbox {
  position: fixed;
  height: 600px;
  width: 400px;
  border: 2px solid #9f82af;
  margin-left: 67.5%;
  margin-top: -9%;
  border-radius: 20px;
  background-color: white;
  display: flex;
}

.hline{
  position: absolute;
  top: 60px;
  width: 400px;
  left: 000px;
  border: 2px solid #9f82af;
  height: 1px;
  z-index: 1;
}
.dline {
  position: absolute;
  height: 2000px;
  width: 2px;
  margin-left: 68.5%;
  margin-top: -26.1%;
  z-index: -1;

}
.toggletrendingnews{
font-weight: bold;
margin-top: 5%;
width: 50%;
font-size: 130%;
  font-family: Noto Sans;
  position: absolute;
  color: #3c065f;
}
.toggletrendingnewsgrey {
  margin-top: 5%;
  font-weight: bold;
  width: 50%;
font-size: 130%;
  font-family: Noto Sans;
  position: absolute;
  color: grey;
  z-index: 4;
}

.toggletrendingpf {
  margin-top: 5%;
  width: 100%;
font-size: 130%;
  font-weight: bold;
   left: -20px;
  font-family: Noto Sans;
  position: absolute;
  color: #3c065f;
  margin-left: 29%;
}

.toggletrendingpfgrey {
  margin-top: 5%;
  width: 100%;
font-size: 130%;
 left: -20px;
  font-weight: bold;
  font-family: Noto Sans;
  position: absolute;

    color: grey;
    margin-left: 29%;
}

.trendingbuttons {
  display: flex;
  flex-direction: row;
}
