.trendingeverythingbox {
  position: fixed;
  height: 870px;
  width: 400px;
  margin-top: -14.5%;
  right: 30px;
  background-color: none;
  border-left: 2px solid #36115b;
  z-index: 4;
  display: flex;
}

.hline{
  position: absolute;
  top: 60px;
  width: 400px;
  left: 000px;
  border: 2px solid #9f82af;
  height: 1px;
  z-index: 1;
}
.dline {
  position: absolute;
  height: 2000px;
  width: 2px;
  margin-left: 68.5%;
  margin-top: -26.1%;
  z-index: -1;

}
.toggletrendingnews{
font-weight: bolder;
margin-top: 5%;
width: 50%;
font-size: 160%;
  font-family: Noto Sans;
  position: absolute;
  color: #3c065f;
  border: none;
  background: none;
}
.toggletrendingnewsgrey {
  margin-top: 5%;
font-weight: bolder;
  width: 50%;
font-size: 160%;
  font-family: Noto Sans;
  position: absolute;
  color: grey;
  z-index: 4;
  border: none;
  background: none;
}

.toggletrendingpf {
  margin-top: 5%;
  width: 50%;
font-size: 160%;
  font-weight: bold;
   left: 198px;
   justify-content: center;
  font-family: Noto Sans;
  position: absolute;
  color: #3c065f;
  border: none;
  background: none;
}

.toggletrendingpfgrey {
  margin-top: 5%;
  width: 50%;
font-size: 160%;
   left: 198px;
  font-weight: bold;
  font-family: Noto Sans;
  position: absolute;
    color: grey;
    border: none;
    background: none;
}

.trendingbuttons {
  display: flex;
  flex-direction: row;
}

.trendingpfs {
  position: absolute;
  top: 50px;
}
