.profileinfoformat {

  display: flex;
  height: 800px;
  width: 800px;
 margin: 0 auto;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.profilename {
  position: relative;
  text-align: center;
  margin-left: -0%;
  width: 100%;
  font-size: 400%;
  margin-top: -2%;
  color: #3c065f;
  font-weight: bold;
 justify-content: center;
}


.pastdebatestext {
  position: relative;
  text-align: center;
  margin-left: -38%;
  width: 100%;
  font-size: 150%;
  margin-top: 10%;
  color: #3c065f;
  font-weight: bold;
 justify-content: center;
}

.forfeiteddebatestext {
  position: relative;
  text-align: center;
  margin-left: -33%;
  width: 100%;
  font-size: 150%;
  margin-top: 9%;
  color: #3c065f;
  font-weight: bold;
 justify-content: center;
}
.currentrequeststext {
  position: relative;
  text-align: center;
  margin-left: -50%;
  width: 100%;
  font-size: 150%;
  margin-top: 11%;
  color: #3c065f;
  font-weight: bold;
 justify-content: center;
}



.toptextrow {
  position: relative;
  display: flex;
  z-index: 4;
  top: 2%;
  margin-left: 6%;
  margin-top: -20%;
  height: 150px;
  width: 600px;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.toptextnumbercolumn {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding-left: 30px;
padding-right: 30px;
}

.seperatingline {
  height: 50px;
  width: 2px;
  border: 1px solid #a2a2a3;
  align-content: center;
  margin-top: 12%;
  align-items: center;
  text-align: center;
}



.participatedtoptextnumber {
  font-style: noto sans;
  justify-content: center;
  color: #404040;
  font-weight: bold;
  font-size: 300%;
}

.currentrequesttoptextnumber {
  justify-content: center;
  color: #404040;
  font-weight: bold;
  font-size: 300%;
}

.forfeiteddebatestoptextnumber {
  justify-content: center;
  color: #404040;
  font-weight: bold;
  font-size: 300%;
}

.activedebatestoptextnumber {
  justify-content: center;
  color: #404040;
  font-weight: bold;
  font-size: 300%;
}

.currentrequeststoptext {
  position: relative;
  font-size: 120%;
  margin-top: 12%;
  width: 100%;
  color: #a2a2a3;
  font-weight: bold;
  justify-content: center;
}

.purplecurrentrequeststoptext {
  position: relative;

  font-size: 120%;
  margin-top: 12%;
  width: 100%;
  color: #3c065f;
  font-weight: bold;
  justify-content: center;
}

.forfeitstoptext {
  position: relative;
  font-size: 120%;

  margin-top: 12%;
  width: 100%;
  color: #a2a2a3;
  font-weight: bold;
  justify-content: center;
}

.purpleforfeitstoptext {
  position: relative;
  font-size: 120%;
  margin-top: 12%;
  width: 100%;
  color: #3c065f;
  font-weight: bold;
  justify-content: center;
}


.activetoptext {
  position: relative;
  font-size: 120%;
  font-style: noto sans;
  margin-top: 12%;
  width: 100%;
  color: #a2a2a3;
  font-weight: bold;
  justify-content: center;
}

.purpleactivetoptext {
  position: relative;
  font-size: 120%;
    font-style: noto sans;
  margin-top: 12%;
  width: 100%;
  color: #3c065f;
  font-weight: bold;
  justify-content: center;
}

.activetoptext:hover {
  position: relative;
  font-size: 120%;
  margin-top: 12%;
  width: 100%;
  color: #3c065f;
  font-weight: bold;
  justify-content: center;
}

.participatedtoptext {
  position: relative;
  font-size: 120%;
  margin-top: 12%;
  width: 100%;
  color: #a2a2a3;
  font-weight: bold;
  justify-content: center;
}

.purpleparticipatedtoptext {
  position: relative;
  font-size: 120%;
  margin-top: 12%;
  width: 100%;
  color: #3c065f;
  font-weight: bold;
  justify-content: center;
}

.currentrequeststoptext:hover {
  position: relative;
  font-size: 120%;
  margin-top: 12%;
  width: 100%;
  color: #3c065f;
  font-weight: bold;
  justify-content: center;
}

.forfeitstoptext:hover {
  position: relative;
  font-size: 120%;
  margin-top: 12%;
  width: 100%;
  color: #3c065f;
  font-weight: bold;
  justify-content: center;
}

.participatedtoptext:hover {
  position: relative;
  font-size: 120%;
  margin-top: 12%;
  width: 100%;
  color: #3c065f;
  font-weight: bold;
  justify-content: center;
}

.profileschool {
    position: relative;
    text-align: center;
    margin-top: -7%;
      margin-left: 0%;

    width: 100%;
    font-size: 300%;
    color: #3c065f;
    font-weight: bold;
    justify-content: center;
}




.profilebio {
  position: relative;
text-align: center;
margin-left: 20%;
  margin-top: -18%;
  margin-bottom: 3%;
  width: 60%;
  color: grey;
  font-weight: bold;
}


.totalrequests {
  margin-left: 100%;
}

.profilerequests {
  margin-left: 100%;
  color: green;
}

.asinglepastrequest {
  margin-top:25%;
  margin-left: -20%;
}

.asinglerequest {
  margin-top:15%;
  margin-left: 10%;
}

.currentrequestspf{
  color: #404040;
  font-size:100%;
font-weight: 500;
  margin-left: 5%;
    font-weight: bold;
}


.pastrequestspf {
  color: #404040;
  font-size:100%;
  font-weight: 500;
  margin-top: 3%;
  margin-left: 5%;
  font-weight: bold;
}

.currentrequeststopic {
  color: #3c065f;
  font-size: 100%;
  width: 50%;
  margin-left: 5%;
  font-weight: bold;
}

.pastdebatesnewstopic {
  color: #3c065f;
  font-size: 100%;
  width: 70%;
  margin-left: 5%;
  margin-top: 10%;
  font-weight: bold;
}


.currentrequestsnumber {
  color: #3c065f;
  font-size: 150%;
  margin-left: -3%;
  margin-top: 6%;
  font-weight: bold;
}


.pastrequestsnumber{
  color: #3c065f;
  font-size: 150%;
  margin-left: -3%;
  margin-top: 6%;
  font-weight: bold;

}

.currentrequestsnumbericon {
  position: relative;
  height: 50px;
  left: -45px;
  margin-top: 4%;
}

.pastdebatenumbericon {
  position: relative;
  height: 50px;
  left: -40px;
  margin-top: 3%;
}

.currentrequesticoncolumn {
  display: flex;
  flex-direction: column;
}

.newsprofileicon {
  position: relative;
  margin-left: -9%;
  margin-top: 6.2%;
  height:30px;
}

.pastnewsprofileicon {
  position: relative;
  margin-left: -9%;
  margin-top: 11%;
  height:30px;
}


.personprofileicon {
  position: relative;
  margin-left: -9%;
  margin-top: 2%;
  height:30px;

}

.personprofileicontwo {
  position: relative;
  margin-left: -9%;
  margin-top: 2%;
  height: 30px;
}



.iconrow {
    display: flex;
    flex-direction: row;
}

.parthenonprofile {
  position: relative;
  z-index: -1;
  height: 150px;
  margin-left: 110%;
  opacity: 60%;
  margin-top: -30%;
}


.cliffline {
    position: relative;
    z-index: -1;
    opacity: 60%;
    margin-left: -115%;
    margin-top: 15%;
    width: 370px;
}

.borderlinerequesteddebates {
  position: absolute;
  border: .5px solid #3c065f;
  border-style: solid;
  margin-top: 2%;
  height: 1px;
  width: 450px;
justify-content: center;
  opacity: 50%;
}



.borderlinepastdebates {
  position: absolute;
  border: .5px solid #3c065f;
  border-style: solid;
  margin-top: -8%;
  height: 1px;
  width: 450px;
  margin-left: -3%;
}








.interioracceptbuttontext {
  position: absolute;
  color: #FFFFFF;
  top: -14px;
  left: 20px;
  font-weight: bold;
  font-family: noto sans;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.acceptbutton {
  position: absolute;
  z-index: 1;
  margin-left: 280px;
  width: 150px;
  height: 60px;
  margin-top: 2%;
  background-color: #3c065f;
  -webkit-border-radius: 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}


@-webkit-keyframes glowing {
  0% { background-color: #3c065f; -webkit-box-shadow: 0 0 3px #3c065f; }
  50% { background-color: #3c065f; -webkit-box-shadow: 0 0 20px #3c065f; }
  100% { background-color: #3c065f; -webkit-box-shadow: 0 0 3px #3c065f; }
}

@-moz-keyframes glowing {
  0% { background-color: #3c065f; -moz-box-shadow: 0 0 3px #3c065f; }
  50% { background-color: #3c065f; -moz-box-shadow: 0 0 20px #3c065f; }
  100% { background-color: #3c065f; -moz-box-shadow: 0 0 3px #3c065f; }
}

@-o-keyframes glowing {
  0% { background-color: #3c065f; box-shadow: 0 0 3px #3c065f; }
  50% { background-color: #3c065f; box-shadow: 0 0 20px #3c065f; }
  100% { background-color: #3c065f; box-shadow: 0 0 3px #3c065f; }
}

@keyframes glowing {
  0% { background-color: #3c065f; box-shadow: 0 0 3px #3c065f; }
  50% { background-color: #3c065f; box-shadow: 0 0 20px #3c065f; }
  100% { background-color: #3c065f; box-shadow: 0 0 3px #3c065f; }
}

.acceptbutton {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}



.forfeitbutton {
  border: 3px solid #3c065f;
  position: absolute;
  margin-left: 280px;
  width: 150px;
  height: 60px;
  margin-top: 8%;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 20px;
    z-index: 1;
}
.interiorforfeitbuttontext {
  position: absolute;
  color: #3c065f;
  top: -16px;
  left: 19px;
  font-weight: bold;
  font-family: noto sans;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.nocurrentrequeststext {
  color: #3c065f;
  font-size: 100%;
  font-family: noto sans;
  font-weight: bold;
  margin-top: 5%;
}


.informationrow {
  display: flex;
  flex-direction: row;
}

.informationicon {
position: relative;
margin-left: -210%;
margin-top: 40%;
  height: 16px;
}

.profilestatus {
  margin-top: 8%;
  margin-left: 35%;
  width: 200%;
  position: relative;
  color: #530096;
  font-weight: bold;
  font-size: 100%;

}

#wrapper .infotext {
position:relative;
width: 300%;
margin-left: -320%;
background-color: white;
margin-top: -26%;
z-index: 1;
visibility:hidden;
font-style: noto sans;
  color: grey;
}

#wrapper:hover .infotext {
visibility:visible;

}

.redbox {
  height: 50px;
  width: 50px;
  background-color: red;
}


.sizecheck {
position: relative;
top: -220px;
left: 270px;
height: 100px;
width: 100px;
z-index: 1;
}


.yourpostedcon {
  margin-left: 6%;
  margin-top: 15%;
  color: #3c065f;
  font-size: 120%;
  font-family: noto sans;
  font-weight: bold;
  width: 100%;
}

.sizecheck {
position: relative;
top: -260px;
left: 270px;
height: 100px;
width: 100px;
z-index: 1;
}


.changesize {
  position: relative;
  height: 40px;
  width: 40px;
  left: 300px;
  top: -190px;
  z-index: 2;
  background-color: none;
}

.wreath {
  position: relative;
  height: 120px;
  margin-left: -24px;

}
