.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbardesign{
  background-color: blue;
  height: 100px;

}

.mainForumlogo {
  position: relative;
  top: 5px;
  width: 110px;
  height: 100px;
  left: -30px;
}

.navbarRow {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    position: relative;
    top: -125px;
    height: 60px;
  }


.navbarline {
  position: absolute;
  margin-top: 7%;
  width: 806px;
  left: 75px;
  border: 1px solid #36115b;
}

  .mainForumtext {
    font-family: Noto Sans;
    font-style: bold;
    font-size: 30px;
    position: relative;
    left: -50px;
    top: -30px;
  }



.row {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  position: relative;
}

.forumaboveLine {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

button[class="faqnavbarbutton"] {
  background-color: white;
  font-family: Noto Sans;
  font-style: bold;
  font-size: 20px;
  font-weight: 800;
  width: 120px;
  color: #3c065f;
  height: 40px;
  border-top-style: none;
  border-bottom-style: none;
  border-right: 2px solid #3c065f;
  border-left: none;
}

button[class="faqnavbarbutton"]:hover {
  background-color: #3c065f;
  color: white;
  /* color: white; */
}

button[class="contactnavbarbutton"] {
  background-color: white;
  font-family: Noto Sans;
  font-style: bold;
  font-size: 20px;
  font-weight: 800;
  width: 120px;
  color: #3c065f;
  height: 40px;
  border-top-style: none;
  border-bottom-style: none;

  border-right: 2px solid #3c065f;
  border-left: 2px solid #3c065f;

}

button[class="contactnavbarbutton"]:hover {
  background-color: #3c065f;
  color: white;
}

button[class="aboutnavbarbutton"] {
  background-color: white;
  font-family: Noto Sans;
  font-style: bold;
  font-size: 20px;
  font-weight: 800;
  width: 120px;
  color: #3c065f;
  height: 40px;
  margin-left: 240px;
  border-top-style: none;
  border-bottom-style: none;
  border-right: none;
  border-left: 2px solid #3c065f;
}

button[class="aboutnavbarbutton"]:hover {
  background-color: #3c065f;
  color: white;
}

.signinbutton {
  background-color: white;
  font-family: Noto Sans;
  font-style: bold;
  font-size: 20px;
  font-weight: 800;
  width: 120px;
  color: #3c065f;
  height: 40px;
  margin-left: 360px;
  border: 2px solid #3c065f;
}
.signoutbutton {
  z-index: 1;
  position: absolute;
  background-color: white;
  font-family: Noto Sans;
  font-style: bold;
  font-size: 20px;
  font-weight: 800;
  width: 120px;
  color: #3c065f;
  height: 40px;
  margin-left: 70px;
  border: 2px solid #3c065f;
}

.approveDebatorsbutton {
  position: absolute;
  font-weight: bold;
  font-family: Noto Sans;
  background-color: white;
  font-size: 15px;
  border: 3px solid #3c065f;
  width: 70px;
  height: 50px;
  width: 150px;
  left: 710px;
  top: 141px;
  color: #3c065f;
}

.signupbuttonmain {
  position: relative;
  background-color: #3c065f;
  font-family: Noto Sans;
  font-style: bold;
  font-size: 20px;
  font-weight: 800;
  width: 120px;
  color: white;
  height: 40px;
top: -40px;
  margin-left: 105%;
  border: 1px solid #3c065f;
}

.newsroomsearchholder {
  margin-top: -17px;
  margin-left: -40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.newsroomsearchbar {
  position: absolute;
  left: 460px;
  top: 61px;
}

* {
  outline: none;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
}




/* input, button
{
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
} */



#cover {
  position: absolute;
  top: 50%;
  padding-bottom: 20px;
  left: 0;

  right: 0;
  width: 500px;
  padding: 35px;
  margin: -83px auto 0 auto;
  background-color: #3c065f;
  border-radius: 20px;
  transform: scale(0.6);
}

form {
  height: 15px;
}

.pleasemoveagain {
  position: absolute;
  top: 35px;
  left: 390px;
}


input[type="text"]
{
    width: 100%;
    height: 100%;
    font-size: 35px;
    line-height: 1;
    font-family: Noto Sans;
    font-style: bold;


}

input[type="text"]::placeholder
{
    color: #fff;
    font-family: Noto Sans;
    font-style: bold;
    font-size: 30px;
    text-align:center;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}
/*
button
{
    position: relative;
    display: block;
    width: 84px;
    height: 30px;
    cursor: pointer;
} */

#s-circle
{
    position: relative;
    top: -16px;
    left: 0;
    width: 33px;
    height: 33px;
    border-width: 15px;
    border: 6px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

/* button span
{
    position: absolute;
    top: 20px;
    left: 22px;
    display: block;
    width: 20px;
    height: 2px;
    background-color: transparent;
    border-radius: 3px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
} */
/*
button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 4px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
} */

#s-cover:hover #s-circle
{
    top: -1px;
    width: 47px;
    height: 6px;
    top: -4px;
    left: 5px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 21px;
    left: 32px;
    width: 3px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}

#s-cover:hover button span:before, #s-cover:hover button span:after
{
    left: 0px;
    width: 30px;
    height: 6px;
    background-color: #fff;

}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  text-decoration: none;
  background-color: #ff7575;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(255, 117, 117, 0.86);
  z-index: 125;
}

.profilenavbarbutton {
  position: relative;
  background-position: center;
    background-image: url("./images/navbarprofile.png");
    justify-content: center;
    background-color: white;
    border: none;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding-bottom: 10px;
    height: 45px;
    width: 140px;
    top: -3px;
    z-index: 4;

}
