.mainForumtext {
  color: #3c065f;
  font-family: Noto Sans;
  font-style: bold;
  font-size: 30px;
  position: relative;
  right: -90px;
  top: -140px;
}

.mainForumlogo {
  position: relative;
  top: 20px;
  width: 130px;
  height: 120px;
  left: -30px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.topLogo {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.breaktheNews {
  position: absolute;
  left: 60px;
  top: 160px;
}
.forumaboveLine {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.parth {
position: absolute;
width: 1356px;
height: 326px;
left: 30px;
top: 175px;
background: url(parth.png);
border-radius: 17px;
}

.logoline {
  position: relative;
  width: 749px;
  height: 0px;
  left: 90px;
  top: -180px;
  border: 2px solid #3c065f;
}

.publicFiguretext {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-top: -20px;
  color: #3c065f;
}

h1 {
  color: #3c065f;
  font-family: Noto Sans;
  font-style: italic;
  font-weight: 700;
  margin-left: 2px;
  position: relative;
}

.requestsystemRow {
  display: flex;
  flex-direction: row;
}

.publicFigurerequstBox {
  position: relative;
  top: 60px;
  background-color: white;
  border: 3px solid #60009E;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  height: 100px;
  left: 70px;
    top: 90px;
}


.topicRequestbox {
  position: relative;
  top: 60px;
  background-color: #3C065F;
  border: 3px solid #60009E;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  height: 100px;
  left: 70px;
  top: 90px;
}

.requestboxRow {
  display: flex;
  flex-direction: row;
  position: relative;
}

.requestbutton {
  background-image: url("nocutoffrequest.png") no-repeat;
  height: 70px;
  width: 120px;
  position: relative;
  width: 110px;
  height: 110px;
  top: 50px;
  left: 70px;
  top: 90px;
}

.publicfigurerequestBoxtext h4 {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #3c065f;
  padding-left: 10px;
  padding-right: 100px;
  position: relative;
  top: -25px;
}

.topicsrequestText {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 5px;
  margin-right: 100px;
}



.todaysTrendingConversationRequests h4 {
  position: absolute;
  width: 448px;
  height: 40px;
  left: 165px;
  top: 485px;
  font-family: Noto Sans;
  font-style: bold;
  font-weight: 800;
  font-size: 20px;
  color: #3c065f;
}

.trendinglogoline {
  position: relative;
  width: 115px;
  left: 27px;
  top: 220px;
  height: 0px;
  border: 1px solid #3c065f;
}

.trendinglogolineTwo {
  position: relative;
  width: 700px;
  top: 217px;
  left: 515px;
  border: 1px solid #3c065f;
}

.trendingvoterRectangle {
  position: relative;
  width: 650px;
  height: 467px;
  left: 27px;
  top: 250px;
  background: #dedede;
  border-radius: 36px;
}

.posteddebatesline {
  position: relative;
  width: 115px;
  height: 0px;
  top: 145px;
  border: 1px solid #3c065f;
}

.posteddebateslineTwo {
  position: relative;
  width: 285px;
  height: 0px;
  left: 380px;
  top: 945px;
  border: 1px solid #3c065f;
}

.trendingNewstopicstext {
  position: relative;
  left: 700px;
  top: -450px;
  text: bold;
  font-size: 20px;
  color: #3c065f;
}

.TrendingNewTopicsBox {
  position: relative;
  top: 50px;
}

.searchBarPublicFigure{
border: red;
margin-left: 10px;
height: 50px;
position: relative;
top: -50px;
}
