.backgroundofsite {
  background-color: white;
}


.row {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  position: relative;
}

.breaktheNews {
  position: relative;
  left: 344px;
  top: 10px;
  color: black;
  font-family: Noto Sans;
  font-style: bold;
  font-style: italic;
  font-size: 25px;
    z-index: 2;
}

.SubmitRequestbuttonlocation {
  position: absolute;
  left: 320px;
  top: 2px;
}

.parth {
position: relative;
width: 1200px;
height: 270px;
left: 30px;
top: -50px;
background: #f5f5f5;
border-radius: 17px;
  z-index: 1;
}

.requestsystemRow {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
}




.topLogo {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}





.publicFiguretext {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-top: -20px;
  color: #3c065f;
}

h1 {
  color: #3c065f;
  font-family: Noto Sans;
  font-weight: 700;
  margin-left: 2px;
}


.publicFigurerequstBoxRight {
  position: relative;
  background-color: white;
  border: 0px solid #60009E;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  height: 90px;
    width: 300px;
    padding-left: 45px;
      border: 2px solid #60009E;
  left: 15px;
  top: 90px;
  border-radius: 17px;
  z-index: 2;
}

.publicFigurerequstBoxLeft {
  position: relative;
  background-color: white;
  border: 2px solid #60009E;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  height: 90px;
  width: 300px;
      padding-left: 50px;
  left: 50px;
  top: 90px;
  border-radius: 17px;
  z-index: 2;
}


.topicRequestbox {
  position: relative;
  top: 90px;
  background-color: #3C065F;
  border: 0px solid #60009E;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  height: 90px;
  width: 400px;
  left: 30px;
}

.requestboxRow {
  display: flex;
  flex-direction: row;
  position: relative;
}

.topicsrequestText {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 5px;
  margin-right: 100px;
}

.todaysTrendingConversationRequests h4 {
  position: relative;
  width: 448px;
  height: 40px;
  left: 225px;
  top: -255px;
  font-family: Noto Sans;
  font-style: bold;
  font-weight: 800;
  color: #3c065f;
}

.trendinglogoline {
  position: relative;
  width: 175px;
  left: 27px;
  top: -220px;
  height: 0px;
    opacity: 50%;
  border: 1px solid #3c065f;
}

.trendinglogolineTwo {
  position: relative;
  width: 700px;
  top: -305px;
    opacity: 50%;
  left: 500px;
  border: 1px solid #3c065f;
}

.trendingNewstopicstext {
  position: relative;
  left: 890px;
  top: -58px;
  text: bold;
  font-size: 20px;
  color: #3c065f;
}

.TrendingNewTopicsBox {
  position: relative;
  left: -35px;
  top: -220px;
  width: 550px;
  z-index: 1;
}

.bottomhalf {
  position: relative;
  top: 200px;
}

.trendingvoterRectangle {
  position: absolute;
  width: 850px;
  height: 467px;
  left: 27px;
  top: -190px;
  background: #f5f5f5;
  border-radius: 36px;
}


.trendingheadlinestext h3 {
  font-size: 17px;
  position: absolute;
  top: -245px;
  margin-left: 200px;
}



.columnrequestbuttonmedium {
  height: 66px;
  width: 60px;
  transition: all 0.1s ease-in-out 0s;
  position: absolute;
  left: 97px;
  top: 395px;

}

.columnrequestbuttonmedium:hover{
border: 2px solid #60009E;
border-radius: 1000px;
}


.columnrequestbuttonbig {
  height: 66px;
  width: 60px;
  position: absolute;
  transition: all 0.1s ease-in-out 0s;
  left: 294px;
  top: 395px;

}

.columnrequestbuttonbig:hover{
border: 2px solid #60009E;
border-radius: 1000px;
}


.columnrequestbuttonsmall {
  height: 66px;
  width: 60px;
  position: absolute;
  transition: all 0.1s ease-in-out 0s;
  left: 494px;
  top: 395px;

}

.columnrequestbuttonsmall:hover{
border: 2px solid #60009E;
border-radius: 1000px;
}



.recentlypostedtext {
  position: relative;
  top: 400px;
  left: 230px;
  text: bold;
  font-size: 20px;
  color: #3c065f;
}


.postedconvologoline {
  position: absolute;
  width: 175px;
  left: -210px;
  top: 15px;
  height: 0px;
    opacity: 50%;
  border: 1px solid #3c065f;
}

.postedconvologolineTwo {
  position: absolute;
  width: 160px;
  top: 17px;
    opacity: 50%;
  left: 275px;
  border: 1px solid #3c065f;
}

.recentlypostedbar{
    margin-top: -250px;
    z-index: 2;
}

.bottomborder {
  position: relative;
  width: 700px;
  top: 1005px;
  left: 500px;
  border: 1px solid #3c065f;
}
