
.containter {
  display: flex;
  flex-direction: column;
align-items: center;

}



.requestnumberrow {
  position: relative;
  right: 50px;
  width: 100%;

}


.mediumColumn {
  position: relative;
  height: 230px;
  top: 30%;
left: 0px;
  width: 80px;
}

.textabovecolumn {
  position: relative;
text-align: center;
width: 200%;
right: 50px;
font-size: 11px;
font-family: noto sans;
}

.requestbuttonicon {
  position: relative;
width: 50px;
 height: 50px;
 top: 83%;
 margin-left: 12%;

}

.person1row {
color: #404040;
font-weight: bold;
}

.person2row {
color: #404040;
font-weight: bold;
}



.topicrow {
  color: #3c065f;
  font-weight: bold;
}

.requestbuttoniconclicked {
    position: relative;
  width: 50px;
   height: 50px;
   top: 83%;
   margin-left: 2%;
}
