.person1row {
  font-family: noto sans;
  font-size: 10px;
 color: #3a3a3a;
  width: 150px;
  font-weight: bold;
}

.person2row {
    font-family: noto sans;
      font-size: 10px;
        width: 150px;
  color:  #3a3a3a;
    font-weight: bold;

}

.topicrow {
    font-family: noto sans;
      font-size: 10px;
        width: 150px;
  color: #3c065f;
    font-weight: bold;
}


.requestnumberrow {
    font-family: noto sans;
    font-size: 10px;
    width: 150px;
    color: #3c065f;
    font-weight: bold;
}

.mediumColumn {
  width: 75px;
 height: 200px
}

.asingleboi {
  margin-top: 5%;
  position: relative;
  display:flex;
flex-direction: column;
margin-right: -10%;
left: 8%;
}

.textabovecolumn {
  position: relative;
  left: -54%;
  text-align: center;
  padding-bottom: 2%;
  line-height: 130%;
}

.icons {
  padding-top: 3%;
  position: absolute;
  left: -20%;
  display:flex;
flex-direction: column;
}

.putinrowcap {
  display:flex;
flex-direction: row;
}

.profileicontrendone {
  height: 22px;
  margin-bottom: 50%;
  width: 22px;
}

.newstrendicon {
  height: 18px;
    margin-bottom: 40%;
  width: 20px;
}

.profileicontrendtwo {
  height: 22px;
  width: 22px;
}


.trendingrequestbutton {
  position: relative;
width: 50px;
 height: 50px;
 margin-left: 4%;

}



.trendingrequestbutton:hover {
   border: 5px solid #3c065f;
   border-radius: 1000px;
       transition: 0.5s ease all;
}
